#loadingLogo {
  position: absolute;
  animation: logoanimate 1s ease;
  animation-delay:400ms;
  animation-fill-mode: forwards;
  opacity: 0;
}


/* Hidden by default */
#startBut {
    animation: butapear 1s ease;
    animation-fill-mode:forwards;
    animation-delay:1.5s;
    opacity:0;
    border: none;
}

#descrip {
    animation: logoanimate 1s ease;
    animation-fill-mode: forwards;
    animation-delay:400ms;
}



@keyframes logoanimate {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes butapear {
    from {opacity:0;}
    to {opacity:1;}
}



#startBut{
  background:white;
  color: #3c3c3c;
  width: 160px;
  height: 50px;
  border: 0;
  font-size: 18px;
  border-radius: 1000px;
  font-family: 'Raleway', sans-serif;
  transition: .2s;
  overflow: hidden;
  font-weight: bold;
  }
  